*.pch
*.obj
/.vs/STRemoteDebugger/v16/.suo
/.vs/STRemoteDebugger/v16/Browse.VC.db
/.vs/STRemoteDebugger/v16/Browse.VC.db-shm
/.vs/STRemoteDebugger/v16/Browse.VC.db-wal
/.vs/STRemoteDebugger/v16/Browse.VC.opendb
/.vs/STRemoteDebugger/v16/ipch/AutoPCH/35a28495ded2a6e8/DIS68K.ipch
/.vs/STRemoteDebugger/v16/ipch/AutoPCH/56713e4f5623b8c2/HEADER.ipch
/.vs/STRemoteDebugger/v16/ipch/AutoPCH/83f065c3fdf1d49a/ASSEMBLYINFO.ipch
/.vs/STRemoteDebugger/v16/ipch/AutoPCH/95ecccd2d3498ecc/DEBUGGER.ipch
/.vs/STRemoteDebugger/v16/ipch/AutoPCH/b9e96f1e95d8c789/HELPERS.ipch
/.vs/STRemoteDebugger/v16/ipch/AutoPCH/d66f35299db4e781/FORM1.ipch
/.vs/STRemoteDebugger/v16/ipch/AutoPCH/efb2c6b1630f2f45/DEBUGGER.ipch
/.vs/STRemoteDebugger/v16/ipch/AutoPCH/f9569ff84a17231f/MAIN.ipch
/.vs/STRemoteDebugger/v16/ipch/c270dea0ccadf9b5.ipch
/Debug/STRemoteDebugger.exe
/Debug/STRemoteDebugger.exe.metagen
/Debug/STRemoteDebugger.pdb
/STRemoteDebugger/Debug/.NETFramework,Version=v4.7.2.AssemblyAttributes.cpp
/STRemoteDebugger/Debug/app.res
/STRemoteDebugger/Debug/STRemoteDebugger.exe.recipe
/STRemoteDebugger/Debug/STRemoteDebugger.Form1.resources
/STRemoteDebugger/Debug/STRemoteDebugger.log
/STRemoteDebugger/Debug/STRemoteDebugger.tlog/CL.command.1.tlog
/STRemoteDebugger/Debug/STRemoteDebugger.tlog/CL.read.1.tlog
/STRemoteDebugger/Debug/STRemoteDebugger.tlog/CL.write.1.tlog
/STRemoteDebugger/Debug/STRemoteDebugger.tlog/link.command.1.tlog
/STRemoteDebugger/Debug/STRemoteDebugger.tlog/link.read.1.tlog
/STRemoteDebugger/Debug/STRemoteDebugger.tlog/link.write.1.tlog
/STRemoteDebugger/Debug/STRemoteDebugger.tlog/metagen.read.1.tlog
/STRemoteDebugger/Debug/STRemoteDebugger.tlog/metagen.write.1.tlog
/STRemoteDebugger/Debug/STRemoteDebugger.tlog/rc.command.1.tlog
/STRemoteDebugger/Debug/STRemoteDebugger.tlog/rc.read.1.tlog
/STRemoteDebugger/Debug/STRemoteDebugger.tlog/rc.write.1.tlog
/STRemoteDebugger/Debug/STRemoteDebugger.tlog/STRemoteDebugger.lastbuildstate
/STRemoteDebugger/Debug/STRemoteDebugger.tlog/STRemoteDebugger.write.1u.tlog
/STRemoteDebugger/Debug/STRemoteDebugger.vcxproj.FileListAbsolute.txt
/STRemoteDebugger/Debug/STRemoteDebugger.vcxproj.GenerateResource.cache
/STRemoteDebugger/Debug/STRemoteDebugger.vcxprojAssemblyReference.cache
/STRemoteDebugger/Debug/vc142.pdb
/.vs/STRemoteDebugger/v16/ipch/AutoPCH/7459bff4c00416ca/PREFERENCES.ipch
/.vs/STRemoteDebugger/v16/ipch/AutoPCH/fd89e5c15485bb2f/PREFERENCES.ipch
/STRemoteDebugger/app.aps
/STRemoteDebugger/ClassDiagram.cd
/STRemoteDebugger/Debug/STRemoteDebugger.Preferences.resources
/STRemoteDebugger/STRemoteDebugger - Copy.vcxproj
/.vs/STRemoteDebugger/v16/ipch/AutoPCH/19176da3703bd6f8/FORM1.ipch
/.vs/STRemoteDebugger/v16/ipch/AutoPCH/f8a3286141726a08/CSTRING.ipch
/.vs/STRemoteDebugger/v16/ipch/AutoPCH/ff2b678c6bab4f06/MSTRING.ipch
/.vs/STRemoteDebugger/v16/ipch/AutoPCH/6484cc566efddd16/FORMTIMER.ipch
/.vs/STRemoteDebugger/v16/ipch/AutoPCH/7fc4ad653b21b5c2/TEST.ipch
/.vs/STRemoteDebugger/v16/ipch/AutoPCH/8b520ebf95116233/XSTRING.ipch
/.vs/STRemoteDebugger/v16/ipch/AutoPCH/289cfc18540d2376/COMSTD.ipch
/.vs/STRemoteDebugger/v16/ipch/AutoPCH/c76c341b816db8e2/FILEIO.ipch
/STRemoteDebugger/Debug/STRemoteDebugger.Build.CppClean.log
/STRemoteDebugger/Debug/STRemoteDebugger.Build.CppClean.log
/STRemoteDebugger/Debug/STRemoteDebugger.Build.CppClean.log
/.vs/STRemoteDebugger/v16/ipch/AutoPCH/1b9731f6a189488/NEWCPU.ipch
/.vs/STRemoteDebugger/v16/ipch/AutoPCH/5641749d43ccf4f1/68KDISASM.ipch
/.vs/STRemoteDebugger/v16/ipch/AutoPCH/741cab457c779249/68KDISASS.ipch
/.vs/STRemoteDebugger/v16/ipch/AutoPCH/9d3c861925e59a70/68KDISASM.ipch
/.vs/STRemoteDebugger/v16/ipch/AutoPCH/ad54b04557a9f489/68KDISASSEMBLER.ipch
/.vs/STRemoteDebugger/v16/ipch/AutoPCH/ad54b54557a9fd08/68KDISASSEMBLER.ipch
/.vs/STRemoteDebugger/v16/ipch/AutoPCH/c313908d6d2782c4/CDYNARRAY.ipch
/.vs/STRemoteDebugger/v16/ipch/AutoPCH/d1820d2aa806f351/68KDISASSEMBLER.ipch
/.vs/STRemoteDebugger/v16/ipch/AutoPCH/e2481a38f1db53b7/CPUMMU.ipch
/.vs/STRemoteDebugger/v16/ipch/AutoPCH/e28b6817576ec8d5/DIS68K.ipch
/.vs/STRemoteDebugger/v16/ipch/AutoPCH/b8b6afb5db5697bc/CURSORTABLES.ipch
/.vs/STRemoteDebugger/v16/ipch/AutoPCH/b6065a873dbca984/DIALOGTEXTINPUT.ipch
/STRemoteDebugger/Debug/STRemoteDebugger.DialogTextInput.resources
/STRemoteDebugger/mem.bin
/STRemoteDebugger/mem.txt
/STRemoteDebugger/test.log
